{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4 card p-4">
        <h3 class="text-center fw-bold mb-4">ĐĂNG KÝ</h3>
        <form method="POST">
            <input type="text" name="username" class="form-control mb-3" placeholder="Username mới" required>
            <input type="password" name="password" class="form-control mb-3" placeholder="Mật khẩu" required>
            <button class="btn btn-success w-100">Tạo tài khoản</button>
            <p class="text-center mt-3"><a href="/login">Đã có tài khoản? Đăng nhập</a></p>
        </form>
    </div>
</div>
{% endblock %}